/* You can add global styles to this file, and also import other style files */
@import '~assets/scss/_config';
html{
    box-sizing: border-box;
    font-size: $font-size;
    font-family: $font-text, sans-serifs;
    -ms-text-size-ajust:100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: color(background);
    color:color(white);
}

body{
    overflow-x: hidden; 
}

*,*::after, *::before{
    box-sizing: inherit;
    margin:0 !important;
    padding: 0;
}

a{ 
    color:color(links);
    text-decoration: none;
}

a:hover{
    color:color(hover);
}
h1, h2 , h3, h4, h5, h6{
	text-transform:uppercase;
	line-height: 1.3em;
}
h1{font-size: $h1-size;}

h2{font-size: $h2-size;}

h3{font-size: $h3-size;}

img, audio, canvas, iframe, picture, progress, svg{
    display: inline-block;
    width: 100%;
    max-width:100%;
    vertical-align: baseline;
    height: auto;
}

ul{list-style: none;}

li{
    margin-left:1em;
    list-style-type: inherit;
    list-style-position: inside;
}

label, input, textarea, article, details, figcaption, figure, footer, header, main, menu, nav, section, summary{
	display:block;
}
b, strong { font-weight: bold;}

table{ border-collapse: collapse; }

*[disabled]{
    cursor : default;
    color:color(greyDark);
    background: color(grey);
}
::selection{
    background: color(hover);
}